.leftDivExperience {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.img-container-experience h1 {
    color: #212529;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: 800;
    line-height: 35px;
    font-size: 26px;
    margin-top: 30%;
    margin-left: 15%;
}

.img-container-experience span {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: 500;
    line-height: 33px;
    font-size: 24px;
    color: #093F68;
    position: absolute;
    margin-top: 24px;
    margin-left: 15%;
}

.img-container-experience {

    height: inherit;
    background-image: url("/src/assets/experience.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.rightDivExperience {
    width: 50%;
    height: 100vh;
    background-color: white;

}

.rightDivExperience h2 {
    color: #212529;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-top: 4%;
    margin-left: 5%;
}

.short-hr {
    border: 1px solid rgba(185, 180, 196, 0.3);
    margin-top: 21px;
}

.dropdown-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

select {
    width: 400px;
    height: 46px;
    background: white;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    padding-left: 10px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    cursor: pointer;
    background-position: 95%;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
}

.radio-input {
    width: 20px;
    height: 20px;
}

.radioDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    right: 42px;

}

.radioDiv h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
}

.radioForm {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 20px;
    bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #212529;
}



.radioForm input {
    position: relative;
    left: 35px;
}

.dropdown-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-top: 12%;
    margin-left: 8%;
}

.dropdown-form {
    gap: 30px;
}

.back-button-experience {
    width: 93px;
    height: 53px;
    background-color: white;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #212529;
    cursor: pointer;
    border: 1px solid #212529;
}

.back-button-experience:hover {
    border: 1px solid rgb(194, 165, 249);

}

.next-button-experience {
    width: 99px;
    height: 53px;
    background: #212529;
    border-radius: 8px;
    color: white;
    background-position: 70px;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.next-button-experience:hover {
    border-radius: 8px;
    outline: 4px solid rgba(194, 165, 249, 0.8);
}

.button-div-experience{
    display: grid;
    grid-auto-flow: column;
    gap: 309%;
    margin-left: 3%;
}

.radio-div{
    display: grid;
    margin-top: 5%;
    gap: 100%;
    grid-auto-flow: column;
    margin-left: 5%;
}

.radio-div span{
    position: relative;
    bottom: 22px;
    left: 60px;
}