@import url("/src/styles/pages/_home.scss");
@import url("./pages/_header.scss");
@import url("/src/styles/pages/_personal.scss");
@import url("/src/styles/pages/_experience.scss");
@import url("/src/styles/pages/_completed.scss");

* {
  margin: 0;
  box-sizing: border-box;
}